<div id="fileTemplate" style="display:none;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">XXX</h3>
    </div>
    <div class="panel-body">
      <strong>Name</strong>: <span class="name">XXX</span><br />
      <strong>Keyword</strong>: <span class="keyword">XXX</span><br />
      <strong>Owner</strong>: <span class="owner">XXX</span><br />
      <strong>Summary</strong>: <span class="summary">XXX</span><br />
      <strong>Response</strong>: <span class="response">XXX</span></br >
      <button class="btn btn-primary download" type="button">Download</button>
      <button class="btn btn-primary confirm" type="button">Confirm</button>
    </div>
  </div>
</div>

<div id="request">
  <!-- load my files (fileTemplate) here -->
</div>

<script type="text/javascript">var uname = "{{user}}";</script>
<script src="/javascripts/request.js"></script>
